In [1]:
import pandas as pd

# Column Name Descriptions  
INSTNM (Institution Name)  
SATBBR (State Abbreviation)  
City  
Latitude  
Longitude  
SCHTYPE (0=Public, 1=Private,non-profit)  
C100_4 (completion rate for 4 year institutions)  
TRANS_4 (Transfer rate for first-time, full-time students at four-year institutions)  
SAT_AVG (SAT average score)  
ACTCMMID (ACT composite midpoint score)  
UGDS_WOMEN (Number of Women)  
UGDS_MEN (Number of Men)  
UGDS_WHITE (Total share of enrollment of undergraduate degree-seeking students who are white)  
UGDS_BLACK (Total share of enrollment of undergraduate degree-seeking students who are Black)  
UGDS_HISP (Total share of enrollment of undergraduate degree-seeking students who are Hispanic)  
UGDS_ASIAN (Total share of enrollment of undergraduate degree-seeking students who are Asian)  
TUITIONFEE_IN (In-state tuition and fees)  
TUITIONFEE_OUT (Out-of-state tuition and fees)  
COSTT4_A (Average cost of attendance (academic year institutions))

In [2]:
SY19 = pd.read_csv("MERGED2018_19_PP.csv")
# SY19.IL()
SY19_IL = SY19.loc[SY19["STABBR"]=="IL"]
# SY19_IL.head()

SY19_IL = SY19_IL[["INSTNM","STABBR","CITY","LATITUDE","LONGITUDE","SCHTYPE","C100_4","TRANS_4","SAT_AVG","ACTCMMID","UGDS","UGDS_WOMEN","UGDS_MEN","UGDS_WHITE","UGDS_BLACK","UGDS_HISP","UGDS_ASIAN","UGDS_AIAN","TUITIONFEE_IN","TUITIONFEE_OUT","COSTT4_A"]]
SY19_IL = SY19_IL.dropna()

SY19_IL["SCHTYPE"] = SY19_IL["SCHTYPE"].replace(1,0)
SY19_IL["SCHTYPE"] = SY19_IL["SCHTYPE"].replace(2,1)
SY19_IL["SCHTYPE"] = SY19_IL["SCHTYPE"].replace(3,1)

SY19_IL["Year"]="2019"

SY19_IL.head()

C:\Users\koros\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (9,1725,1726,1727,1728,1729,1743,1815,1816,1817,1818,1823,1824,1830,1831,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1909,1910,1911,1912,1913,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1983,1984) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,INSTNM,STABBR,CITY,LATITUDE,LONGITUDE,SCHTYPE,C100_4,TRANS_4,SAT_AVG,ACTCMMID,...,UGDS_MEN,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,TUITIONFEE_IN,TUITIONFEE_OUT,COSTT4_A,Year
865,School of the Art Institute of Chicago,IL,Chicago,41.881050,-87.625758,1.0,0.4728,0.1920,1226.0,25.0,...,0.2506,0.3415,0.0356,0.1078,0.0992,0.0014,49310.0,49310.0,63848.0,2019
867,Aurora University,IL,Aurora,41.753631,-88.349023,1.0,0.3718,0.0000,1068.0,21.0,...,0.3509,0.4830,0.0733,0.3192,0.0236,0.0023,24260.0,24260.0,34650.0,2019
872,Blackburn College,IL,Carlinville,39.287896,-89.870241,1.0,0.3407,0.0000,1050.0,20.0,...,0.4011,0.7576,0.1212,0.0428,0.0107,0.0000,22410.0,22410.0,30605.0,2019
875,Bradley University,IL,Peoria,40.696896,-89.616786,1.0,0.5953,0.0000,1212.0,26.0,...,0.4930,0.7273,0.0694,0.1037,0.0346,0.0002,33760.0,33760.0,46304.0,2019
888,Chicago State University,IL,Chicago,41.718446,-87.609384,0.0,0.0394,0.4106,972.0,18.0,...,0.3063,0.0336,0.7386,0.0721,0.0049,0.0049,10163.0,17123.0,20357.0,2019

In [3]:
SY18 = pd.read_csv("MERGED2017_18_PP.csv")
# SY18.head()
SY18_IL = SY18.loc[SY18["STABBR"]=="IL"]
# SY18_IL.head()
SY18_IL = SY18_IL[["INSTNM","STABBR","CITY","LATITUDE","LONGITUDE","SCHTYPE","C100_4","TRANS_4","SAT_AVG","ACTCMMID","UGDS","UGDS_WOMEN","UGDS_MEN","UGDS_WHITE","UGDS_BLACK","UGDS_HISP","UGDS_ASIAN","UGDS_AIAN","TUITIONFEE_IN","TUITIONFEE_OUT","COSTT4_A"]]
SY18_IL["Year"]="2018"
SY18_IL

C:\Users\koros\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (1729) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,INSTNM,STABBR,CITY,LATITUDE,LONGITUDE,SCHTYPE,C100_4,TRANS_4,SAT_AVG,ACTCMMID,...,UGDS_MEN,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,TUITIONFEE_IN,TUITIONFEE_OUT,COSTT4_A,Year
901,Adler University,IL,Chicago,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
902,American Academy of Art,IL,Chicago,NaN,NaN,NaN,0.5773,0.1649,NaN,NaN,...,0.3808,0.4462,0.0962,0.3577,0.0423,0.0038,33220.0,33220.0,37705.0,2018
903,American Islamic College,IL,Chicago,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.5000,0.3750,0.3750,0.0625,0.1250,0.0625,7600.0,7600.0,NaN,2018
904,School of the Art Institute of Chicago,IL,Chicago,NaN,NaN,NaN,0.4541,0.1881,1242.0,26.0,...,0.2471,0.3437,0.0350,0.1135,0.0952,0.0021,49610.0,49610.0,62010.0,2018
905,Augustana College,IL,Rock Island,NaN,NaN,NaN,0.7048,0.0000,NaN,NaN,...,0.4233,0.7240,0.0399,0.0972,0.0247,0.0004,40908.0,40908.0,51464.0,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6875,Lindenwood University-Belleville,IL,Belleville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,16960.0,NaN,NaN,2018
7029,Rasmussen College-Aurora,IL,Aurora,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10935.0,NaN,NaN,2018
7030,Rasmussen College-Romeoville/Joliet,IL,Romeoville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10935.0,NaN,NaN,2018
7031,Rasmussen College-Mokena/Tinley Park,IL,Mokena,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10935.0,NaN,NaN,2018
7087,Relay Graduate School of Education - Chicago,IL,Chicago,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018

In [4]:
for index, row in SY18_IL.iterrows():
    if row['INSTNM'] in SY19_IL['INSTNM'].tolist():
        latitude = SY19_IL.loc[SY19_IL['INSTNM']==row['INSTNM'], 'LATITUDE'].iloc[0]
        SY18_IL.at[index,'LATITUDE']= latitude
        longitude = SY19_IL.loc[SY19_IL['INSTNM']==row['INSTNM'], 'LONGITUDE'].iloc[0]
        SY18_IL.at[index,'LONGITUDE']= longitude
        school_type = SY19_IL.loc[SY19_IL['INSTNM']==row['INSTNM'], 'SCHTYPE'].iloc[0]
        SY18_IL.at[index,'SCHTYPE']= school_type
        
SY18_IL = SY18_IL.dropna()
SY18_IL.head()

,INSTNM,STABBR,CITY,LATITUDE,LONGITUDE,SCHTYPE,C100_4,TRANS_4,SAT_AVG,ACTCMMID,...,UGDS_MEN,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,TUITIONFEE_IN,TUITIONFEE_OUT,COSTT4_A,Year
904,School of the Art Institute of Chicago,IL,Chicago,41.881050,-87.625758,1.0,0.4541,0.1881,1242.0,26.0,...,0.2471,0.3437,0.0350,0.1135,0.0952,0.0021,49610.0,49610.0,62010.0,2018
906,Aurora University,IL,Aurora,41.753631,-88.349023,1.0,0.3793,0.0000,1062.0,21.0,...,0.3551,0.4985,0.0846,0.2991,0.0222,0.0036,23520.0,23520.0,33781.0,2018
911,Blackburn College,IL,Carlinville,39.287896,-89.870241,1.0,0.4539,0.0000,1041.0,21.0,...,0.4332,0.7563,0.1119,0.0451,0.0090,0.0036,21992.0,21992.0,29509.0,2018
914,Bradley University,IL,Peoria,40.696896,-89.616786,1.0,0.5089,0.0000,1212.0,25.0,...,0.4939,0.7323,0.0713,0.1023,0.0353,0.0009,32930.0,32930.0,45148.0,2018
928,Chicago State University,IL,Chicago,41.718446,-87.609384,0.0,0.0239,0.5047,946.0,19.0,...,0.3037,0.0395,0.7467,0.0775,0.0030,0.0035,10252.0,17212.0,21270.0,2018

In [5]:
SY17 = pd.read_csv("MERGED2016_17_PP.csv")
# SY17.head()
SY17_IL = SY17.loc[SY17["STABBR"]=="IL"]
# SY17_IL.head()
SY17_IL = SY17_IL[["INSTNM","STABBR","CITY","LATITUDE","LONGITUDE","SCHTYPE","C100_4","TRANS_4","SAT_AVG","ACTCMMID","UGDS","UGDS_WOMEN","UGDS_MEN","UGDS_WHITE","UGDS_BLACK","UGDS_HISP","UGDS_ASIAN","UGDS_AIAN","TUITIONFEE_IN","TUITIONFEE_OUT","COSTT4_A"]]
SY17_IL["Year"]="2017"
# SY17_IL.head()

C:\Users\koros\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (6,1729,1909,1910,1911,1912,1913) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
for index, row in SY17_IL.iterrows():
    if row['INSTNM'] in SY19_IL['INSTNM'].tolist():
        latitude = SY19_IL.loc[SY19_IL['INSTNM']==row['INSTNM'], 'LATITUDE'].iloc[0]
        SY17_IL.at[index,'LATITUDE']= latitude
        longitude = SY19_IL.loc[SY19_IL['INSTNM']==row['INSTNM'], 'LONGITUDE'].iloc[0]
        SY17_IL.at[index,'LONGITUDE']= longitude
        school_type = SY19_IL.loc[SY19_IL['INSTNM']==row['INSTNM'], 'SCHTYPE'].iloc[0]
        SY17_IL.at[index,'SCHTYPE']= school_type

SY17_IL = SY17_IL.dropna()
SY17_IL.head()

,INSTNM,STABBR,CITY,LATITUDE,LONGITUDE,SCHTYPE,C100_4,TRANS_4,SAT_AVG,ACTCMMID,...,UGDS_MEN,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,TUITIONFEE_IN,TUITIONFEE_OUT,COSTT4_A,Year
923,School of the Art Institute of Chicago,IL,Chicago,41.881050,-87.625758,1.0,0.4176,0.2141,1127.0,25.0,...,0.2669,0.3466,0.0341,0.1057,0.1103,0.0025,45750.0,45750.0,59698.0,2017
925,Aurora University,IL,Aurora,41.753631,-88.349023,1.0,0.4137,0.0000,1005.0,22.0,...,0.3523,0.5383,0.0766,0.2738,0.0238,0.0032,22830.0,22830.0,32930.0,2017
930,Blackburn College,IL,Carlinville,39.287896,-89.870241,1.0,0.3067,0.0000,968.0,21.0,...,0.4617,0.7666,0.1227,0.0290,0.0085,0.0017,21162.0,21162.0,27769.0,2017
933,Bradley University,IL,Peoria,40.696896,-89.616786,1.0,0.5414,0.0000,1141.0,25.0,...,0.4948,0.5690,0.0484,0.0679,0.0284,0.0016,32120.0,32120.0,44130.0,2017
947,Chicago State University,IL,Chicago,41.718446,-87.609384,0.0,0.0274,0.4761,883.0,18.0,...,0.2997,0.0327,0.7453,0.0791,0.0043,0.0021,10252.0,17212.0,21509.0,2017

In [7]:
SY16 = pd.read_csv("MERGED2015_16_PP.csv")
# SY16.head()
SY16_IL = SY16.loc[SY16["STABBR"]=="IL"]
# SY16_IL.head()
SY16_IL = SY16_IL[["INSTNM","STABBR","CITY","LATITUDE","LONGITUDE","SCHTYPE","C100_4","TRANS_4","SAT_AVG","ACTCMMID","UGDS","UGDS_WOMEN","UGDS_MEN","UGDS_WHITE","UGDS_BLACK","UGDS_HISP","UGDS_ASIAN","UGDS_AIAN","TUITIONFEE_IN","TUITIONFEE_OUT","COSTT4_A"]]
SY16_IL["Year"]="2016"
# SY16_IL.head()

In [8]:
for index, row in SY16_IL.iterrows():
    if row['INSTNM'] in SY19_IL['INSTNM'].tolist():
        latitude = SY19_IL.loc[SY19_IL['INSTNM']==row['INSTNM'], 'LATITUDE'].iloc[0]
        SY16_IL.at[index,'LATITUDE']= latitude
        longitude = SY19_IL.loc[SY19_IL['INSTNM']==row['INSTNM'], 'LONGITUDE'].iloc[0]
        SY16_IL.at[index,'LONGITUDE']= longitude
        school_type = SY19_IL.loc[SY19_IL['INSTNM']==row['INSTNM'], 'SCHTYPE'].iloc[0]
        SY16_IL.at[index,'SCHTYPE']= school_type

SY16_IL = SY16_IL.dropna()
SY16_IL.head()

,INSTNM,STABBR,CITY,LATITUDE,LONGITUDE,SCHTYPE,C100_4,TRANS_4,SAT_AVG,ACTCMMID,...,UGDS_MEN,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,TUITIONFEE_IN,TUITIONFEE_OUT,COSTT4_A,Year
950,School of the Art Institute of Chicago,IL,Chicago,41.881050,-87.625758,1.0,0.3814,0.2483,1155.0,25.0,...,0.2751,0.3633,0.0341,0.0915,0.1203,0.0039,43960.0,43960.0,57674.0,2016
952,Aurora University,IL,Aurora,41.753631,-88.349023,1.0,0.4185,0.0000,990.0,21.0,...,0.3583,0.5641,0.0779,0.2459,0.0247,0.0039,22080.0,22080.0,32529.0,2016
957,Blackburn College,IL,Carlinville,39.287896,-89.870241,1.0,0.3151,0.0000,1005.0,22.0,...,0.4560,0.7979,0.1295,0.0173,0.0069,0.0017,20364.0,20364.0,27262.0,2016
960,Bradley University,IL,Peoria,40.696896,-89.616786,1.0,0.5289,0.0000,1163.0,26.0,...,0.4908,0.6413,0.0467,0.0591,0.0298,0.0020,31480.0,31480.0,43630.0,2016
974,Chicago State University,IL,Chicago,41.718446,-87.609384,0.0,0.0221,0.5382,875.0,18.0,...,0.2912,0.0273,0.7518,0.0768,0.0055,0.0032,9994.0,16954.0,20305.0,2016

In [9]:
SY15 = pd.read_csv("MERGED2014_15_PP.csv")
# SY15.head()
SY15_IL = SY15.loc[SY15["STABBR"]=="IL"]
# SY15_IL.head()
SY15_IL = SY15_IL[["INSTNM","STABBR","CITY","LATITUDE","LONGITUDE","SCHTYPE","C100_4","TRANS_4","SAT_AVG","ACTCMMID","UGDS","UGDS_WOMEN","UGDS_MEN","UGDS_WHITE","UGDS_BLACK","UGDS_HISP","UGDS_ASIAN","UGDS_AIAN","TUITIONFEE_IN","TUITIONFEE_OUT","COSTT4_A"]]
SY15_IL["Year"]="2015"
# SY15_IL.head()

C:\Users\koros\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (6,1537,1540,1542,1589,1606,1610,1614,1615,1729,1909,1910,1911,1912,1913) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
for index, row in SY15_IL.iterrows():
    if row['INSTNM'] in SY19_IL['INSTNM'].tolist():
        latitude = SY19_IL.loc[SY19_IL['INSTNM']==row['INSTNM'], 'LATITUDE'].iloc[0]
        SY15_IL.at[index,'LATITUDE']= latitude
        longitude = SY19_IL.loc[SY19_IL['INSTNM']==row['INSTNM'], 'LONGITUDE'].iloc[0]
        SY15_IL.at[index,'LONGITUDE']= longitude
        school_type = SY19_IL.loc[SY19_IL['INSTNM']==row['INSTNM'], 'SCHTYPE'].iloc[0]
        SY15_IL.at[index,'SCHTYPE']= school_type

SY15_IL = SY15_IL.dropna()
SY15_IL.head()

,INSTNM,STABBR,CITY,LATITUDE,LONGITUDE,SCHTYPE,C100_4,TRANS_4,SAT_AVG,ACTCMMID,...,UGDS_MEN,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,TUITIONFEE_IN,TUITIONFEE_OUT,COSTT4_A,Year
995,School of the Art Institute of Chicago,IL,Chicago,41.881050,-87.625758,1.0,0.3696,0.22,1065.0,23.0,...,0.2846,0.4039,0.0291,0.0744,0.1276,0.0040,42230.0,42230.0,57361.0,2015
997,Aurora University,IL,Aurora,41.753631,-88.349023,1.0,0.4350,0.00,1010.0,22.0,...,0.3335,0.5705,0.0860,0.2338,0.0228,0.0038,21320.0,21320.0,31767.0,2015
1002,Blackburn College,IL,Carlinville,39.287896,-89.870241,1.0,0.3041,0.00,989.0,21.0,...,0.4567,0.8201,0.1090,0.0225,0.0121,0.0052,19560.0,19560.0,25292.0,2015
1005,Bradley University,IL,Peoria,40.696896,-89.616786,1.0,0.5078,0.00,1162.0,26.0,...,0.4862,0.7014,0.0519,0.0606,0.0301,0.0020,30844.0,30844.0,42090.0,2015
1019,Chicago State University,IL,Chicago,41.718446,-87.609384,0.0,0.0249,0.50,870.0,18.0,...,0.2845,0.0232,0.7367,0.0746,0.0054,0.0013,9846.0,16806.0,19120.0,2015

In [11]:
print(f'The length of SY15_IL is {len(SY15_IL)}')
print(f'The length of SY16_IL is {len(SY16_IL)}')
print(f'The length of SY17_IL is {len(SY17_IL)}')
print(f'The length of SY18_IL is {len(SY18_IL)}')
print(f'The length of SY19_IL is {len(SY19_IL)}')

The length of SY15_IL is 47
The length of SY16_IL is 46
The length of SY17_IL is 46
The length of SY18_IL is 48
The length of SY19_IL is 48

In [12]:
dfs = [SY19_IL, SY18_IL, SY17_IL, SY16_IL, SY15_IL]
SY2015_2019 = pd.concat(dfs)
SY2015_2019

,INSTNM,STABBR,CITY,LATITUDE,LONGITUDE,SCHTYPE,C100_4,TRANS_4,SAT_AVG,ACTCMMID,...,UGDS_MEN,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,TUITIONFEE_IN,TUITIONFEE_OUT,COSTT4_A,Year
865,School of the Art Institute of Chicago,IL,Chicago,41.881050,-87.625758,1.0,0.4728,0.1920,1226.0,25.0,...,0.2506,0.3415,0.0356,0.1078,0.0992,0.0014,49310.0,49310.0,63848.0,2019
867,Aurora University,IL,Aurora,41.753631,-88.349023,1.0,0.3718,0.0000,1068.0,21.0,...,0.3509,0.4830,0.0733,0.3192,0.0236,0.0023,24260.0,24260.0,34650.0,2019
872,Blackburn College,IL,Carlinville,39.287896,-89.870241,1.0,0.3407,0.0000,1050.0,20.0,...,0.4011,0.7576,0.1212,0.0428,0.0107,0.0000,22410.0,22410.0,30605.0,2019
875,Bradley University,IL,Peoria,40.696896,-89.616786,1.0,0.5953,0.0000,1212.0,26.0,...,0.4930,0.7273,0.0694,0.1037,0.0346,0.0002,33760.0,33760.0,46304.0,2019
888,Chicago State University,IL,Chicago,41.718446,-87.609384,0.0,0.0394,0.4106,972.0,18.0,...,0.3063,0.0336,0.7386,0.0721,0.0049,0.0049,10163.0,17123.0,20357.0,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1166,Trinity Christian College,IL,Palos Heights,41.667687,-87.783973,1.0,0.4511,0.0000,1080.0,24.0,...,0.3452,0.6896,0.1019,0.1148,0.0194,0.0049,25515.0,25515.0,35139.0,2015
1167,Trinity International University-Illinois,IL,Deerfield,42.197945,-87.880851,1.0,0.3582,0.0000,1062.0,23.0,...,0.5356,0.6161,0.1389,0.0618,0.0257,0.0012,27360.0,27360.0,39292.0,2015
1170,VanderCook College of Music,IL,Chicago,41.836833,-87.629138,1.0,0.6000,0.0000,1109.0,24.0,...,0.5093,0.6667,0.0556,0.2130,0.0093,0.0000,25690.0,25690.0,35742.0,2015
1173,Western Illinois University,IL,Macomb,40.468086,-90.686899,0.0,0.2968,0.3283,970.0,21.0,...,0.5071,0.6308,0.1853,0.0947,0.0094,0.0013,12217.0,16533.0,25074.0,2015
1174,Wheaton College,IL,Wheaton,41.870176,-88.099643,1.0,0.7966,0.0000,1311.0,30.0,...,0.4792,0.7623,0.0233,0.0533,0.0858,0.0012,31900.0,31900.0,42390.0,2015

In [14]:
SY15_IL.to_csv("Output/SY15_IL.csv", index=False, header=True)
SY16_IL.to_csv("Output/SY16_IL.csv", index=False, header=True)
SY17_IL.to_csv("Output/SY17_IL.csv", index=False, header=True)
SY18_IL.to_csv("Output/SY18_IL.csv", index=False, header=True)
SY19_IL.to_csv("Output/SY19_IL.csv", index=False, header=True)
SY2015_2019.to_csv("Output/SY2015_2019.csv", index=False, header=True)